body {
    background-color: rgb(236, 252, 246)
}

#title {
    text-align: center;
}

#register-table {
    padding: 10px;
}

#register-form,
#chalogin-form,
#create-userprofile-form,
#review-userprofile,
#edit-userprofile-form,
#create-boardunit-form,
#all-boardunit,
#review-boardunit,
#review-myboardunit,
#edit-myboardunit-form,
#delete-myboardunit-form {
    margin: auto;
    padding: 20px;
    background-color: rgb(192, 247, 247);
    width: 30%;
    border-radius: 10px;
    border: solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}

#submit-button,
#reset-button {
    margin-top: 10px;
    margin-left: 20px;
}

#message {
    color: red;
    font-weight: 700;
}

#errors {
    color: red;
    margin-bottom: 10px;
}

#chalogin-form {
    width: 20%;
}

#navbar {
    background-color: rgb(181, 247, 247);
    padding: 10px;
}

#navbar a {
    margin-left: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#create-userprofile-form,
#review-userprofile,
#edit-userprofile-form {
    width: 20%;
}

#edit-a-button,
#review-a-button,
#page-a-button {
    margin-top: 20px;
    text-align: center;

}

#edit-a-button a,
#review-a-button a,
#page-a-button a {
    text-decoration: none;
    background-color: white;
    border: white solid;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}

#subject {
    padding: 5px;
    font-weight: 700;
}

#all-boardunit-text,
#review-boardunit-text,
#review-myboardunit-text {
    padding: 10px;
    background-color: rgb(240, 248, 248);
    border-radius: 10px;

}

#delete-myboardunit-form {
    width: 20%;
    text-align: center;
    color: red;
    font-weight: 700;
}