body {
    background-color: rgb(236, 252, 246)
}

#title {
    text-align: center;
}

#register-table {
    padding: 10px;
}

#register-form,
#chalogin-form,
#create-userprofile-form,
#review-userprofile {
    margin: auto;
    padding: 20px;
    background-color: rgb(192, 247, 247);
    width: 40%;
    border-radius: 10px;
    border: solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}

#submit-button,
#reset-button {
    margin-top: 10px;
    margin-left: 20px;
}

#message {
    color: red;
    font-weight: 700;
}

#errors {
    color: red;
    margin-bottom: 10px;
}

#chalogin-form {
    width: 20%;
}

#navbar {
    background-color: rgb(181, 247, 247);
    padding: 10px;
}

#navbar a {
    margin-left: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

#create-userprofile-form,
#review-userprofile {
    width: 20%;
}