{% extends "base.html" %}
{% load static %}
{% block title%}留言板{% endblock %}

{% block content%}
<div id="title">
    <h1>留言板</h1>
</div>

<div id="all-boardunit">
    {% for boardunit in page_obj %}
    <div id="subject">
        {{boardunit.subject}} <br>
    </div>

    <div id="all-boardunit-text">
        {{boardunit.text|slice:"10"}}... <br>
        <br>

    </div>

    發文時間:{{boardunit.time}} &nbsp;&nbsp;發文者:{{boardunit.userprofile.nickname}}<br>


    <div id="review-a-button">
        <a href="{% url 'review-detail' boardunit.id %}">內文</a>
    </div>
    <br>
    <hr>

    {% endfor %}
</div>

<div id="page-a-button">
    {% if page_obj.has_previous %}
    <a href="{% url 'review-all' %}?page={{page_obj.previous_page_number}}">上一頁</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
    {{num}}
    {% else %}
    <a href="{% url 'review-all' %}?page={{num}}">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{% url 'review-all' %}?page={{ page_obj.next_page_number}}">下一頁</a>
    {% endif %}
</div>



{% endblock %}