{% extends "base.html" %}
{% load static %}
{% block title%}內文{% endblock %}

{% block content%}
<div id="title">
    <h1>內文</h1>
</div>

<div id="review-boardunit">

    <div id="subject">
        {{boardunit.subject}}


        {% if boardunit.userprofile == request.user.userprofile %}
        <a href="{% url 'delete-myboardunit' boardunit.id %}">
            <img src="{% static 'images/x.png' %}" alt="刪除我的歷史發文" width="25" height="25" style="float: right;">
        </a>

        {% endif %} <br>
    </div>

    <div id="review-boardunit-text">
        {{boardunit.text}} <br>
        <br>

    </div>

    發文時間:{{boardunit.time}} &nbsp;&nbsp;發文者:{{boardunit.userprofile.nickname}}
    <br>
    {% if boardunit.userprofile == request.user.userprofile %}
    <div id="edit-a-button">
        <a href="{% url 'edit-myboardunit' boardunit.id %}">修改內容</a>
    </div>
    {% endif %}
</div>

<div id="comment-area">
    留言區: <br>
    <br>
    {% if comments %}
    {% for comment in comments %}
    {{comment.userprofile.nickname}} <br>
    {{comment.text}} <br>
    {{comment.time}} <br>
    <hr>
    {% endfor %}
    {% else %}
    沒有留言
    {% endif %}
</div>

{% if request.user.is_authenticated %}
<div id="leave-a-comment">
    我要留言:
    <form action="" method="POST">
        {% csrf_token %}
        <label for="{{form.text.id_for_label}}"></label>
        <div class="comment-span">
            {{form.text}} <br>
        </div>

        <input type="submit" name="submit-button" id="submit-button" value="確定">
        <input type="reset" name="reset-button" id="reset-button" value="清除">
    </form>
</div>
{% endif %}




{% endblock %}