{% extends "base.html" %}
{% load static %}
{% block title%}我的歷史發文{% endblock %}

{% block content%}
<div id="title">
    <h1>我的歷史發文</h1>
</div>

<div id="review-myboardunit">
    {% for myboardunit in page_obj %}
    <div id="subject">
        {{myboardunit.subject}} <br>
    </div>

    <div id="review-myboardunit-text">
        {{myboardunit.text|slice:"10"}}... <br>
        <br>

    </div>

    發文時間:{{myboardunit.time}} &nbsp;&nbsp;發文者:{{myboardunit.userprofile.nickname}}<br>


    <div id="review-a-button">
        <a href="{% url 'review-detail' myboardunit.id %}">內文</a>
    </div>
    <br>
    <hr>

    {% endfor %}
</div>

<div id="page-a-button">
    {% if page_obj.has_previous %}
    <a href="{% url 'review-myboardunit' %}?page={{page_obj.previous_page_number}}">上一頁</a>
    {% endif %}

    {% for num in paginator.page_range %}
    {% if num == page_obj_number %}
    {{num}}

    {%else%}
    <a href="{% url 'review-myboardunit' %}?page={{num}}">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{% url 'review-myboardunit' %}?page={{page_obj.next_page_number}}">下一頁</a>
    {% endif %}
</div>

{% endblock %}