{% extends "base.html" %}
{% load static %}
{% block title%}我的歷史發文{% endblock %}

{% block content%}
<div id="title">
    <h1>我的歷史發文</h1>
</div>

<div id="review-myboardunit">
    {% for myboardunit in page_obj %}
    <div id="subject">
        {{myboardunit.subject}} <br>
    </div>

    <div id="review-myboardunit-text">
        {{myboardunit.text|slice:"10"}}... <br>
        <br>

    </div>

    發文時間:{{myboardunit.time}} &nbsp;&nbsp;發文者:{{myboardunit.userprofile.nickname}}<br>


    <div id="review-a-button">
        <a href="{% url 'review-detail' myboardunit.id %}">內文</a>
    </div>
    <br>
    <hr>
    <br>
    {% endfor %}
</div>



</div>

{% endblock %}